#n_numbers{
    float: left; 
    text-align: right; 
    color : #bbb; 
    padding-right: 5px;
    background: #f9f9f9; 
    font-size: 12px;
    text-shadow: 0 -1px 0 #fff;
}
 
#mynew {
    padding-left: 35px;
}

p {
    margin: 0;
    padding: 0;
}