#n_numbers{
    float: left; 
    //width: 25px; 
    text-align: right; 
    color : #999; 
    padding-right: 5px;
    background: #eee; 
    margin-right: 5px;
    line-height: 18px;
    font-size: 12px;
}

#numbered{
    height: 300px;
    overflow: scroll;
}
 
#mynew {
    padding-left: 35px;
}

p {
    margin: 0;
    padding: 0;
}